@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);


body {
  font-size: 12px;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'sans-serif';
}
/*
ol, ul {
  padding-left: 30px;
} */
th {
  font-size: 16px;
  font-weight: bold;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 13px;
  font-weight: bold;
}

.wholeBox {
  background: #fff;
  width: 100%;
  height: 100%;
  /* border: 1px solid #999; */
}

.wholeBox .hanging {
  float: left;
  background: rgb(12, 212, 22);
  width: 100%;
  height: 40%;
  border: 1px solid #999;
  /* margin-top: 10px; */
  /* margin-left: 15%; */
}

.wholeBox .hanging .testTable {
  background: yellow;
  width: 100%;
  display: inline-block;
}

.wholeBox .word {
  background: #fff;
  width: 100%;
  height: 20%;
  border: 1px solid #999;
  /* display: inline-block; */
  /* margin-top: 10px; */
  /* margin-left: 0.5%; */
  float: left;
}

.wholeBox .word .correct {
  background-color: aqua;
  width: 100%;
  height: 50%;
  text-align: center;
}

.wholeBox .word .correct .info {
  background-color: aqua;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  width: 100%;
  height: 70%;
  text-align: center;
}

.wholeBox .word .correct .square {
  background: #fff;
  border: 1px solid #999;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  width: 40%;
  height: 30%;
  margin-top: 80px;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.wholeBox .word .wrong {
  background-color: aquamarine;
  width: 100%;
  height: 80px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  text-align: center;
  text-decoration: darkred;
}

/* .wholeBox .word .testTable {
  background: yellow;
  width: 100%;
  display: inline-block;
} */

.wholeBox .wordTable {
  background: green;
  margin-top: 10px;
  margin-left: 12px;
  width: 40%;
  /* border: 1px solid #999; */
  float: left;
}

/* .wholeBox .testTable {
  background: yellow;
  margin-top: 10px;
  margin-left: 35%;
  width: 40%;
  border: 1px solid #999;
  display: inline-block;
} */

.status {
  margin-bottom: 10px;
}



.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
